@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1180px;
    margin: auto;
    /* border: 2px solid black; */
    /* background-color: aqua; */
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
h3{
    text-transform: capitalize;
    font-size: 32px;
    font-weight: bolder;
}
h4{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: bolder;
}
h5{
    font-size: 14px;
    color: #777777;
    font-weight: bolder;
}
 /* nav starts */


nav .container img{
    width: 140px;
}
nav ul li{
    display: inline-block;
    /* margin-right: 25px; */
    padding-top: 20px;
    padding-right: 30px;
    text-decoration: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #848484;
    font-weight: 500;
    text-transform: capitalize;
}
nav ul li button{
    padding: 16px ;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right,  #02b9ef, #56d1f5);
    cursor: pointer;
}
/* nav ends */
/* banner starts here  */
#banner .heading{
    margin-top: 100px;
    width: 45%;
}
#banner .heading h2{
    font-size: 58px;
    width: 580px;
    font-weight: 700;
    color: #222222;
    font-family: 'Abril Fatface', serif;
    text-transform: capitalize;
}
#banner .heading p{
    font-size: 18px;
    color: #444444;
    width: 580px;
    margin-top: 25px;
    line-height: 25px;
    font-weight: 700;
}


/* banner ends here  */

/* popular-catagories starts here  */

#popular .container{
    margin-top: 90px;
}
#popular .container .popular-heading{
    text-align: center;
    margin: auto;
    width: 570px;
}

#popular .container  .divider{
    background-color: #02b9ef;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 15px;
}

#popular .container .categories{
    margin-top: 25px;
}
#popular .container .categories .card{
    width: 275px;
    height: 275px;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    transition: 0.4s;
}
#popular .container .categories .card h4{
    padding: 5px;
}
#popular .container .categories .card:hover {
    background-color: rgb(1, 184, 239);
    color: white;
    transition: 0.4s;
    width: 29%;
}
#popular .container .categories .card p{
    font-size: 14px;
    color: #777777;
}
/* popular-catagories ends here  */


/* works starts here  */
#works{
    margin-top: 90px;
}
#works .works-heading{
    text-align: center;
    margin: auto;
    width: 570px;
}
#works .divider{
    background-color: #02b9ef;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 15px;
}

#works .work-card{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;
    /* border: 2px solid beige; */
}
#works .work-card .card{
    width: 25%;
    text-align: center;
    padding: 5px;
}
#works .work-card .card img{
    padding-bottom: 20px;
    width: 20%;
}
#works .work-card .card h4{
    padding-bottom: 20px;
}
#works .work-card .card:hover img{
    transform: scale(1.1);
    width: 30%;
    align-items: center;
    background-color: #02b9ef;
}




/* works ends here  */